@model EntityLayer.Concrete.VitalSignMeasurementValue
@{
    ViewBag.Title = "AddVitalSign";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">

    <!-- Main content -->
    <section class="content">
        <div class="row-1">
            <div class="col-md-6">
                <br />
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Vital Bulgu Ekleme</h3>
                    </div>
                    @using (Html.BeginForm("AddVitalSign", "DoctorPanel", FormMethod.Post))
                    {
                        <div class="card-body">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.HastaID)
                            </div>
                            <div class="form-group">
                                @Html.Label("Vital Bulgu")
                                @Html.DropDownListFor(x => x.VitalBulguID, (List<SelectListItem>)ViewBag.VitalBulgular, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Ölçüm Değeri")
                                @Html.TextBoxFor(x => x.OlcumDeğeri, new { @class = "form-control" })
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success float-right">Ekle</button>
                                <br />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

</body>
</html>

